<div class="flex">
    {{> navbar }}
    <div class="Container">
        
        {{#if messages.success}}
            <div class="msg successMsg">
                {{messages.success}}
            </div>
        {{/if}}        
        {{#if messages.fail}}
            <div class="msg failMsg">
                {{messages.fail}}
            </div>
        {{/if}}   
        <div class="listTitleContainer">
            <h1>Lista de exercícios</h1>
            <a class="btn btn-dark" href="/exercicio/">Criar exercício</a>
        </div>
        <table class="table table-dark">
            <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Criador</th>
                  <th scope="col">Criado em</th>
                  <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each exercicios}}
                <tr>
                  <td>{{this.nome}}</td>
                  <td>{{this.descricao}}</td>
                  <td>{{this.criador.profile.nome}}</td>
                  <td>{{dateFormat this.createdAt "d/m/y"}}</td>
                  <td class="acoes">
                      <a href="/exercicio/edit/{{this.id}}"><ion-icon name="hammer-outline" class="icone iconeEditar"></ion-icon></a>
                      {{#if this.imagem}}
                      <a href="/exercicio/delete/{{this.id}}/{{this.imagem}}"><ion-icon class="icone iconeExcluir" name="trash-outline"></ion-icon></a>                     
                      {{/if}}
                      {{#unless this.imagem}}
                      <a href="/exercicio/delete/{{this.id}}/false"><ion-icon class="icone iconeExcluir" name="trash-outline"></ion-icon></a>
                      {{/unless}}
                  </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    
</div>