<div class="flex">
    {{> navbar }}
    <div class="Container">
        {{#if messages.success}}
            <div class="msg successMsg">
                {{messages.success}}
            </div>
        {{/if}}        
        {{#if messages.fail}}
            <div class="msg failMsg">
                {{messages.fail}}
            </div>
        {{/if}}
        <h1>Criar Treino</h1>
        <form action="/treino" class="TreinoFormContainer" method="post" style="">
            <div class="InputContainerTreino">
                <div class="InputContainerTreinoInner paddingR" >
                    <label for="aluno">Nome</label>
                    <input type="text" name="nome" class="inputGym" placeholder="Digite o nome do Treino">
                    <label for="aluno">Aluno</label>
                    <select name="aluno" class="inputGym" id="aluno">
                        <option value=false>Sem aluno</option>
                        {{#each professor.alunos}}
                            <option value="{{this.profile.id}}">{{this.profile.nome}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="InputContainerTreinoInner paddingL">
                    <label for="">Descrição do treino</label>
                    <textarea class="inputGym" name="descricao" id="" cols="30" rows="4">
                        Adicione uma descrição ao treino
                    </textarea>
                </div>
            </div>
            <hr>

            <div class="InputContainerTreino" id="ExerciciosContainer" style="flex-direction: column;" >
                <div class="containerExercicio" data-allowed-to-remove=false>
                    <div class="containerExercicioContent">
                        <h3>Aquecimento</h3>
                        <textarea class="inputGym" name="descricao-exercicio-1" id="" cols="30" rows="3">
                            Adicione ao aquecimento
                        </textarea>
                    </div>
                </div>
                <div class="containerExercicio" data-allowed-to-remove=true>
                    <div class="containerExercicioContent">
                        <h3>Exercicio Nº: 1</h3>
                        <label for="exercicio-1"> Exercício </label>
                        <select class="inputGym" id="selec1exercicio" name="exercicio-1" id="exercicio-1">
                            {{#each exercicios}}
                                <option value="{{this.id}}">{{this.nome}}</option>
                            {{/each}} 
                        </select>
                        <div class="ExercicioDescription">
                            {{exercicios.0.descricao}}
                        </div>
                        <div>
                            <label for="series-exercicio-1">Séries
                                <input class="inputGym" type="number" name="series-exercicio-1">
                            </label>
                            <label for="reps-exercicio-1">Repetições
                                <input class="inputGym" type="number" name="reps-exercicio-1">
                            </label>
                        </div>
                    </div>
                    <div class="containerExercicioRemove" >
                        <ion-icon name="trash-outline" alt='excluir'></ion-icon>
                    </div>
                    
                </div>
                
                <div id="add" data-allowed-to-remove=false class="containerAdicionarExercicio btn btn-success">
                    <ion-icon name="add-outline"></ion-icon>
                </div>  
            </div>          

            <button class="btn btn-dark" type="submit">Salvar</button>
        </form>
    </div>
</div>



<script>
    const exercicios = {{{toJson exercicios}}}
    const exerciciosProfessor = {{{toJson professor.exercicios}}}    

    
</script>

<script src="/js/treino.js"></script>